# Configurações da API da Bíblia
BIBLE_API_KEY=sua_chave_da_api_aqui

# Configurações do Supabase (já configuradas no código)
SUPABASE_URL=https://fidiulbnuucqfckozbrv.supabase.co
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpZGl1bGJudXVjcWZja296YnJ2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDcxMDU4OSwiZXhwIjoyMDY2Mjg2NTg5fQ.geZx43mnZ_yI3qvu4q1Z23NkLcXCGvGpWfoDt2PKi58

# Configurações do PWA
PWA_MODE=production 